{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-comments-o"></i>
        Forum
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/createpost">Create a post</a></li>
        {{ if .User.IsStatus }}
        <li><a href="/liked">Liked posts</a></li>
        <li><a href="/mine">My posts</a></li>
        <li><a href="/activity">Activity page</a></li>
        <li> <a href="/notification" class="notification"><span>Inbox</span><span class="badge">{{.AmountNotification}}</span></a> </li>

        {{end}}
      </ul>
      {{ if .User.IsStatus }}
      <ul class="nav navbar-nav navbar-right">
          <li><a>{{ .User.Username }}</a></li>
          <li><a href="/logout">Logout</a></li>
          </ul>
         {{ else }}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
          </ul>
          {{end}}
    </div>
  </div>
</div>
{{ end }}